html, body {
    margin: 0;
    height: 100%;
    --color: blue;
    background-color: var(--color);
}

body {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.output {
  background-color: white;
  border: solid 5px black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
}

.quote {
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  color: var(--color); 
  text-shadow: 1px 1px 2px black, 0 0 2em black, 0 0 0.2em black;
}

.author {
  font-size: 30px;
  color: var(--color);
  text-shadow: 1px 1px 2px black, 0 0 2em black, 0 0 0.2em black;
}

.tweet {
  margin-top: 10px;
  float: left;
}

.next_quote {
  margin-top: 10px;
  float: right;
}
